<p style="color: green"><%= notice %></p>

<% content_for :title, "Loans" %>

<div id="posts" class="container">
  <h1 class="mb-4">All Loans</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Borrower Name</th>
        <th>Amount</th>
        <th>Interest Rate (%)</th>
        <th>Term (Months)</th>
        <th>Start Date</th>
        <th>Purpose</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.borrower_name %></td>
          <td><%= number_to_peso(post.amount) %></td>
          <td><%= post.interest_rate %></td>
          <td><%= post.term_months %></td>
          <td><%= post.start_date.present? ? post.start_date.strftime("%Y-%m-%d") : "" %></td>
          <td><%= post.purpose %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
</div>